.home-container {
    text-align: center;
    padding: 50px;
  }
  
  .home-container h1 {
    font-size: 36px;
    color: #333;
  }
  
  .home-container button {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .home-container button:hover {
    background-color: #e68900;
  }
  